<div class="input-field">
  <input name="first_name" type="text" required>
  <label>First Name</label>
</div>

<div class="input-field">
  <input name="last_name" type="text" required>
  <label>Surname</label>
</div>

<div class="input-field">
  <input name="company" type="text">
  <label>Company Name</label>
</div>

<div class="input-field">
  <input name="email" type="email" required>
  <label>Email</label>
</div>

<div class="input-field">
  <input name="phone" type="text" required>
  <label>Mobile</label>
</div>

<div class="input-field">
  <input name="address" type="text">
  <label>Address</label>
</div>
