{% extends "base.html" %}
{% block content %}

<div class="hero center-align" style="margin-bottom: 40px;">
  <h1>Our Services</h1>
  <p>Professional drafting and engineering solutions tailored to your project.</p>
</div>

<div class="section">
  <div class="row equal-height">
    {% for service in services %}
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="{{ url_for('static', filename='images/' ~ service.image) }}" class="responsive-img">
        </div>
        <div class="card-content center-align">
          <span class="card-title">{{ service.title }}</span>
          <p>{{ service.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
